.contiar ul li{
   display:flex;
   flex-wrap: wrap;
 
}
div ul li {
   list-style: none;
   margin-top: 10px;
   color:#ecdbae;
}
h1{
   text-align: center;
   padding: 10px;
   padding-top: 20px;
   color:#ecdbae;
}

img{
   width: 45%;
}

hr{
   height: 4px;
}
